if SHIELD_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "PutitiDactyl"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CHOC-CORNE_LEFT || SHIELD_CHOC-CORNE_RIGHT

config ZMK_SPLIT
	default y

endif